html {
    scroll-snap-type: y mandatory;
}

body {
    text-align: -webkit-center;
    background-color: #0a1403;
    overflow-x: hidden;
}

/* ----------------- top bar ----------------- */

#topNav {
    display: block;
    align-content: center;
    background-color: #122508;
    border-bottom: 3px solid #fcb529;
    font-size: 23px;
    font-weight: 350;
    color: #fcb529;
    text-align: center;
}

#mainNav {
    display: flex;
    position: sticky;
}

nav {
    top: 0px;
    box-sizing: border-box;
    height: 40px;
    width: -webkit-fill-available;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    text-wrap: nowrap;
    scroll-snap-align: start;
}

nav * {
    border: 3px solid #dcdcdc;
    display: inline-block;
    height: auto;
    flex-shrink: 1;
    flex-basis: 200px;
    background-color: rgb(230,230,230);
    align-content: center;
    font-family: 'Oswald', sans-serif;
    color: #fcb529;
    text-wrap: nowrap;
}

nav a {
    text-align: center;
    background-color: white;
    font: 17px 'Oswald', sans-serif;
    font-weight: 400;
    color: #000000;
}

#currentPage {
    background-color: #dcdcdc;
}

nav a:first-of-type {
    border-bottom-left-radius: 20px;
    margin-left: auto;
}

nav a:last-of-type {
    border-bottom-right-radius: 20px;
    margin-right: auto;
}

nav a:hover {
    animation: 600ms ease-in-out 0s infinite alternate both running navButton;
    animation-composition: add;
    text-decoration-line: none;
    background-color: #dcdcdc;
    font-weight: 450;
}

@keyframes navButton {
    from {
    }
    to {
        transform: translate(0px, 8px);
    }
}

nav form {
    display: inline-flex;
    flex-shrink: 0.5;
    flex-basis: 400px;
    align-items: stretch;
    margin-left: auto;
    border-bottom-left-radius: 10px;
}

nav form:hover {
    animation: 600ms ease-in-out 0s 1 alternate both running navSearch;
}

@keyframes navSearch {
    from {
    }
    to {
        transform-origin: top right;
        transform: scale(1.2);
    }
}

nav form input[type="search"] {
    flex: 8 0.4 280px;
    margin-top: 2px;
}

/* end of top bar */
/* ----------------- body layers ----------------- */

main {
    margin-top: 10px;
    display: block;
    overflow-x: hidden;
    /* display: grid;
    gap: 10px;
    grid-template-columns: 1fr 445px 1fr;
    grid-template-areas:
        "timer sched calen"; */
}

main * {
    flex: auto;
}

/* end of body layers */
/* ----------------- main schedule ----------------- */

#tableWrapper {
    overflow-x: auto;
}

table {
    /* transform: translate(0px, 50px); */
    border: 2px solid rgb(140 140 140);
    padding: 10px;
    font:
        32px Trebuchet MS,
        sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 475px;
}

table * {
    padding: 2px;
}

th {
    border: 1px solid rgb(160 160 160);
    text-align: center;
}

td {
    border: 1px solid rgb(160 160 160);
    font-size: 16px;
    color: #000000;
}

table td:nth-child(-n+2) {
    padding: 4px;
}

thead > tr {
    background-color: #274e13;
}
tfoot > tr {
    background-color: #274e13;
}

.progressCell {
    width: 158px;
}

progress {
    border-radius: 0;
    color: rgb(0,0,0);
    background-color: #274e13;
    color: #ffffff;
    height: 20px;
}

#tableSubtitle {
    margin: 0px;
    font-size: 16px;
}

#tableTitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* end of main schedule */
/* ----------------- etc ----------------- */

h1 {
    color: white;
    background-color: saddlebrown;
    padding-block: 20px;
    font-size: 50px;
}

#spacer {
    visibility: hidden;
}

/* end of etc */
/* ----------------- footer ----------------- */

footer {
    display: inline-flex;
    height: 25px;
    background-color: #122508;
    align-items: center;
    padding-inline: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
    position: fixed;
    transform: translateX(-50%);
    bottom: 0px;
    border-bottom: 3px solid #fcb529;
    color: #dcdcdc;
}

footer p {
    font-family: 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
    flex: none;
}
