html {
    scroll-snap-type: none;
}

body {
    text-align: -webkit-center;
    background-color: #0a1403;
    overflow-x: hidden;
}

/* ----------------- top bar ----------------- */

#topNav {
    height: min-content;
    display: block;
    align-content: center;
    background: linear-gradient(
        0.26turn,
        #122508,
        #042618 12.5%,
        #0f1f06 31.4%,
        #2340089e 57.5%,
        #8f9d002b 85.3%,
        #122508 106%,
        #122508
    );
    border-bottom: 3px solid #fcb529;
    font-weight: 350;
    color: #fcb529;
    text-align: center;
    font-size: 1.98em;
    text-wrap: auto;
    line-height: 1.09em;
    padding-inline: 0.8em;
    padding-bottom: 0.27em;
    padding-top: 0.12em;
}

#mainNav {
    height: 48px;
    position: sticky;
    align-content: end;
    overflow-x: auto;
    overflow-y: hidden;
    transform: rotate(180deg);
}

#mainNavWithin {
    display: flex;
    /* calc value is for total width of tab buttons in nav menu */
    width: max(100%, calc(240px + 16*(5.1px + 2.4px)));
    background: transparent;
    border: none;
    transform: rotate(180deg);
}

nav {
    top: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    text-wrap: nowrap;
    scroll-snap-align: start;
}

nav * {
    border: 3px solid #dcdcdc;
    display: inline-block;
    height: auto;
    flex-shrink: 1;
    flex-basis: 200px;
    background-color: rgb(230,230,230);
    align-content: center;
    font-family: 'Oswald', sans-serif;
    color: #fcb529;
    text-wrap: nowrap;
}

nav a {
    height: 35.2px;
    width: 144px;
    flex-basis: 144px;
    padding-inline: 0.3em;
    text-align: center;
    background-color: white;
    font: 17px 'Oswald', sans-serif;
    font-weight: 400;
    color: #000000;
}

#currentPage {
    background-color: #dcdcdc;
}

nav a:first-of-type {
    border-bottom-left-radius: 20px;
    margin-left: auto;
}

nav a:last-of-type {
    border-bottom-right-radius: 20px;
    margin-right: auto;
}

nav a:hover, nav a:focus {
    animation: 600ms ease-in-out 0s infinite alternate both running navButton;
    animation-composition: add;
    text-decoration-line: none;
    background-color: #dcdcdc;
    font-weight: 450;
}

@keyframes navButton {
    from {
    }
    to {
        transform: translate(0px, 8px);
    }
}

nav form {
    display: inline-flex;
    flex-shrink: 0.5;
    flex-basis: 400px;
    align-items: stretch;
    margin-left: auto;
    border-bottom-left-radius: 10px;
}

nav form:hover {
    animation: 600ms ease-in-out 0s 1 alternate both running navSearch;
}

@keyframes navSearch {
    from {
    }
    to {
        transform-origin: top right;
        transform: scale(1.2);
    }
}

nav form input[type="search"] {
    flex: 8 0.4 280px;
    margin-top: 2px;
}

/* end of top bar */
/* ----------------- body layers ----------------- */

main {
    margin-top: 10px;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main * {
    flex: auto;
}

/* end of body layers */
/* ----------------- tables ----------------- */

table {
    width: max-content;
    border: 3px solid #fcb529;
    padding: 10px;
    font:
        32px Trebuchet MS,
        sans-serif;
    font-weight: bold;
    color: #ffffff;
}

table * {
    padding: 2px;
}

table.scheduleTable p.tableTitle, table.calendarTable p.tableTitle, table.timerTable p.tableTitle {
    margin-block: 4px;
    font-size: 35px;
}

tr {
    background-color: rgb(255 255 255);
}

th {
    border: 1px solid rgb(160 160 160);
    text-align: center;
}

td {
    border: 1px solid rgb(160 160 160);
    font-size: 16px;
    color: #000000;
}

/* end of tables */
/* ----------------- schedule ----------------- */

.tableWrapper {
    overflow-x: auto;
    margin: 15px;
}

.scheduleTableWrapper {
    width: 472px;
}

table.scheduleTable {
    color: #ffffff;
}

table.scheduleTable td {
    align-items: start;
}


table.scheduleTable td:nth-child(-n+2) {
    padding: 4px;
}

table.scheduleTable thead > tr {
    background-color: #274e13;
}
table.scheduleTable tfoot > tr {
    background-color: #274e13;
}

.progressCell {
    width: 158px;
}

table.scheduleTable progress {
    border-radius: 0;
    color: rgb(0,0,0);
    background-color: #274e13;
    color: #ffffff;
    height: 20px;
}

table.scheduleTable p.flavorContainer {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
}

table.scheduleTable p.scheduleDayDescription {
    width: 22em;
    margin-inline: auto;
    font-style: italic;
    text-wrap: auto;
}

/* end of main schedule */
/* ----------------- calendar ----------------- */

.calendarTableWrapper {
    width: auto;
}

table.calendarTable thead > tr {
    background-color: #350d09;
}

table.calendarTable tbody tr:first-child {
    background-color: #e3e3e3;
}

table.calendarTable tbody th {
    font-size: 16px;
    color: #000000;
}

table.calendarTable td {
    width: 100px;
    height: 100px;
    padding: 4px;
    text-align: left;
    align-content: start;
}

table.calendarTable td:nth-child(6n+1) {
    background-color: #dcdcdc;
}

table.calendarTable tBody p {
    margin: 0px;
    font-weight: normal;
    font-size: 15px;
}

table.calendarTable td > br {
    display: block;
    content: "";
}

table.calendarTable p.dayDescription {
    font-size: 13px;
    font-style: italic;
}

table.calendarTable tBody p.dayNum {
    font-size: 16px;
    font-weight: bold;
}

/* end of calendar */
/* ----------------- timer ----------------- */

table.timerTable tr:first-of-type {
    background: rgb(1,23,49);
    background: linear-gradient(45deg, rgb(1,23,49) 20%, rgb(21,53,103) 100%);
}

table.timerTable svg {
    padding: 0px;
}

table.timerTable h2 {
    margin: 0px;
    position: relative;
    top: -120px;
    left: 20%;
}

/* end of timer */
/* ----------------- etc ----------------- */

noscript {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    line-height: 1.2em;
    background-color: crimson;
    padding-block: 0.5em;
}

h1 {
    color: white;
    background-color: saddlebrown;
    padding-block: 20px;
    font-size: 50px;
}

.spacer {
    visibility: hidden;
}

hr {
    background-color: #fcb529;
    overflow: hidden;
    height: 4px;
    border: none;
    margin: unset;
}

/* end of etc */
/* ----------------- footer ----------------- */

footer {
    display: inline-flex;
    height: 25px;
    background-color: #122508;
    align-items: center;
    padding-inline: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
    position: fixed;
    transform: translateX(-50%);
    bottom: 0px;
    border-bottom: 3px solid #fcb529;
    color: #dcdcdc;
}

footer p {
    font-family: 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
    flex: none;
}

.qr-button {
    border-radius: 0px;
    border-width: 0px;
    background-color: #122508 !important;
    color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0); */
    bottom: 0px;
}

.qr-button:hover .qr-button:focus {
    border-width: 10px;
    outline-width: 10px;
    background-color: red;
}

.qr-button::selection {
    background: greenyellow;
    fill: plum;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
